In [1]:
#else-if

In [18]:
drinks=False
maggie=False
coffee=False
water=False
burger=False

In [19]:
orders=0
if(drinks==True):
    print("Enjoy drinks")
    orders+=1

if (maggie==True):
    print("Enjoy maggie")
    orders+=1
    
if (coffee==True):
    print("Enjoy coffee")
    orders+=1
    
if (water==True):
    print("Enjoy water")
    orders+=1
    
if (burger==True):
    print("Enjoy burger")
    orders+=1
    
else:
    print("You ordered nothing")
    
print("******************")
print("you ordered",orders,"items")                    #different datatype hence comma
print("your "+str(orders)+" items are on the way")     #same datatype hence plus/concatenate 
print("******************")

You ordered nothing
******************
you ordered 0 items
your 0 items are on the way
******************

In [20]:
#for loop

In [26]:
num=int(input("Enter the table you want"))
print("this is the table of ",num)
print(num*1)
print(num*2)
print(num*3)
print(num*4)
print(num*5)
print(num*6)
print(num*7)
print(num*8)
print(num*9)
print(num*10)

Enter the table you want10
this is the table of  10
10
20
30
40
50
60
70
80
90
100

In [29]:
num=int(input("Enter the table you want"))
print("this is the table of ",num)
for i in range(1,11):
    print(num,"*",i,"=",num*i)

Enter the table you want10
this is the table of  10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [32]:
print("lets print odd numbers")
num1=int(input("start from"))
num2=int(input("end on"))
for i in range(num1,num2+1,2):
    print(i)

lets print odd numbers
start from0
end on0
0

In [33]:
for i in range(50,1,-2):
    print(i)

50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [34]:
17>17

False

In [35]:
for i in range (10,101,10):
    print(i)

10
20
30
40
50
60
70
80
90
100

In [1]:
#while loop : used when we not have fix range of values

In [5]:
num=int(input("Enter a number"))
print(type(num))

11
<class 'int'>

In [6]:
while num!=0:
    print(num)
    num-=1

11
10
9
8
7
6
5
4
3
2
1

In [7]:
num=int(input("enter a number"))
for i in range(num,0,-1):
    print(i)

enter a number10
10
9
8
7
6
5
4
3
2
1

In [8]:
#number to its binary

In [14]:
num=12
binary=""
while (num != 0):
    
    if(num % 2 == 0):
        binary+="1"
    else:
        binary+="0"
       
    num=num/2
print(binary)

11000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [15]:
#Data Structures

In [19]:
name="Roshni"

eng=99
maths=98
sci=97
hindi=67
print(("Avg marks of",name,(eng+maths+sci+hindi)/4.0))

('Avg marks of', 'Roshni', 90.25)

In [20]:
#lists

In [21]:
names=[]
names.append("Ashish")
print(names)

['Ashish']

In [22]:
names.append("Roshni")
print(names)

['Ashish', 'Roshni']